<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>profil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-grid>
  <ion-row>
    <ion-col size="12">
      
      
        <img height="100%" width="100%" src="http://localhost/ci-restserver/assets/survey.jpg">
      
      
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12">
      <ion-list>
        <ion-item>
          <ion-col size="4">Nama</ion-col>
          <ion-col size="8"><ion-text color="primary">: {{nama}}</ion-text></ion-col>
        </ion-item>
        <ion-item>
          <ion-col size="4">Username</ion-col>
          <ion-col size="8"><ion-text color="primary">: {{username}}</ion-text></ion-col>
        </ion-item>
        <ion-item>
          <ion-col size="4">Status</ion-col>
          <ion-col size="8"><ion-text color="primary">: {{status}}</ion-text></ion-col>
        </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>
</ion-grid>
<!-- 
<ion-grid>
  <ion-row>
    <ion-col size="4" offset="1" align-item="center">
      <ion-avatar>
  <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
</ion-avatar>
    </ion-col>
  </ion-row>
    <ion-row>
      <ion-col size="4">
        <div class="ion-text-end">
          username:
        </div>
      </ion-col>
      <ion-col size="8">
        <div class="ion-text-start">
            {{username}}
        </div>
      </ion-col>
      
    </ion-row>
  </ion-grid> -->
  
  
</ion-content>
